<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hrsoft.taskgo">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--sd卡读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!--EM Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.account.view.activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".business.app.view.MainActivity">

        </activity>

        <activity android:name=".business.account.view.activity.LoginActivity"/>

        <activity android:name=".business.account.view.activity.GuideActivity"/>
        <activity
            android:name=".business.task.view.activity.TaskGridActivity"
            android:launchMode="singleTop"
            />

        <activity android:name=".business.account.view.activity.RegisterActivity"/>


        <activity android:name=".business.account.view.activity.UpdatePasswordActivity"/>


        <activity
            android:name=".business.task.view.activity.TaskListActivity"
            android:launchMode="singleTask"/>


        <activity android:name=".business.task.view.activity.ReleaseTaskActivity"/>

        <activity android:name=".business.task.view.activity.FillTaskInfoActivity"/>


        <activity
            android:name=".business.task.view.activity.MyTaskListActivity"
            android:launchMode="singleTop"

            />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>


        <service
            android:name=".business.app.view.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>


        <activity android:name=".business.mine.view.activity.MyFollowFansActivity"/>
        <activity android:name=".business.mine.view.activity.OtherUserPageActivity"/>
        <activity
            android:name=".business.mine.view.activity.EditDataActivity"/>
        <activity
            android:name=".business.mine.view.activity.ChangeNameActivity"/>
        <activity
            android:name=".business.mine.view.activity.RealNameActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".business.mine.view.activity.FeedbackActivity"
            android:launchMode="singleTop"
            />
        <activity android:name=".business.mine.view.activity.SettingActivity"/>
        <activity android:name=".business.mine.view.activity.MineCardActivity"/>

        <activity android:name=".business.mine.view.activity.AboutActivity"/>
        <!--<activity android:name=".business.mine.view.activity.MoneyPackageActivity"/>-->
        <activity android:name=".business.mine.view.activity.MyWalletActivity"/>
    </application>

</manifest>