<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrsoft.taskgo">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--sd卡读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.view.initiate.activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".mvp.view.MainActivity">

        </activity>

        <activity android:name=".mvp.view.account.LoginActivity"/>

        <activity android:name=".mvp.view.initiate.activity.GuideActivity"/>
        <activity android:name=".mvp.view.task.activity.TaskGridActivity" />

        <activity android:name=".mvp.view.account.RegisterActivity" />



        <activity android:name=".mvp.view.account.UpdatePasswordActivity"/>


        <activity
            android:name=".mvp.view.task.activity.TaskListActivity"
            android:launchMode="singleTask" />


        <activity android:name=".mvp.view.task.activity.ReleaseTaskActivity" />

        <activity android:name=".mvp.view.task.activity.FillTaskInfoActivity" />


        <activity android:name=".mvp.view.task.activity.MyTaskListActivity" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

    </application>

</manifest>